@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@500&family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blue: #1D0090;
    --grey: #f7f7f7;
}

body {
    min-height: 1500px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    /* font-family: Montserrat; */
    --animate-duration: 4s;
    /* letter-spacing: 0.5px; */
    background-color: var(--grey);
}

a {
    text-decoration: none;
}

.card-category {
    text-transform: capitalize;
}

.m-font {
    font-size: 1rem;
}

.s-font {
    font-size: 0.8rem;
}

.xs-font {
    font-size: 0.7rem;
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-grey {
    background-color: var(--grey);
}

.btn-custom {
    transition: all 0.2s;
}

.btn-custom:hover {
    color: var(--blue);
    background-color: #ffffff;
    transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.feature {
    transition: 250ms;
}

.feature:hover {
    transform: translateY(0) scale(1.2);
}

/* Navbar */
.active {
    font-weight: bold;
    color: var(--blue) !important;
}

.nav-link {
    transition: all 0.3s;
}

.nav-link:hover {
    color: rgb(24, 74, 240) !important;
    transform: scale(1.1);
}

.btn-login {
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.btn-register {
    color: var(--blue);
    border: 1px solid var(--blue);
}

/* End of Navbar */


/* Header */
.jumbotron {
    height: 90vh;
    background: url(../images/header-1.png) no-repeat left;
    background-size: relative;
}

.btn-join {
    background-color: var(--blue);
    color: white;
    border-radius: 20px;
}

/* End of Header */

.btn-main {
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
}

footer {
    margin-top: auto;
}
