@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --blue: #1d0090;
    --grey: #eef0f0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    --animate-duration: 4s;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
}

.mt-100 {
    margin-top: 100px;
}

/* Text Size */

.l-font {
    font-size: 1.3rem;
}

.m-font {
    font-size: 1rem;
}

.s-font {
    font-size: 0.8rem;
}

.xs-font {
    font-size: 0.7rem;
}

/* Text Color */

.text-blue {
    color: var(--blue);
}

/* Background Color */

.bg-blue {
    background-color: var(--blue);
}

.bg-grey {
    background-color: var(--grey);
}

/* Button */

.btn-main {
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
}

.btn-custom {
    transition: all 0.2s;
}

.btn-custom:hover {
    background-color: #ffffff;
    color: var(--blue);
    border: 1px solid var(--blue);
    transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.feature {
    transition: 250ms;
}

.feature:hover {
    transform: translateY(0) scale(1.2);
}

/* Navbar */
.active {
    font-weight: bold;
    color: var(--blue) !important;
}

.nav-link {
    transition: all 0.3s;
}

.nav-link:hover {
    color: rgb(24, 74, 240) !important;
    transform: scale(1.1);
}

.btn-login {
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.btn-register {
    color: var(--blue);
    border: 1px solid var(--blue);
}

/* End of Navbar */

/* Header */
.jumbotron {
    height: 90vh;
    background: url(../images/header-1.png) no-repeat left;
    background-size: cover;
}

.btn-join {
    background-color: var(--blue);
    color: white;
    border-radius: 20px;
}

/* End of Header */

/* Profile */
.card-profile {
    background-color: #fff;
    width: 100%;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
}

.card-category {
    text-transform: capitalize;
}

.profile-image {
    border-radius: 10px;
    border: 2px solid var(--blue);
}

.current-balance {
    background-color: #eee;
    border-radius: 12px;
}

.current-balance:hover {
    border: 1px solid var(--blue);
}

.dollar-div {
    background-color: var(--blue);
    padding: 12px;
    border-radius: 10px;
}

.round-div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recent-border {
    border-left: 2px solid var(--blue);
    display: flex;
    align-items: center;
}

.recent-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

.recent-orders {
    font-size: 16px;
    font-weight: 700;
    color: var(--blue);
    margin-left: 2px;
}

.orders-profile {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
}

.orders-profile-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}
